<p></p>
<div></div>
<div class="container">
  <div class="alert alert-danger" *ngIf="mode == 1">
    <strong>Le nom d'utilisateur ou le mot de passe des invalide!!</strong>
  </div>
  <div class="col-md-6 col-md-offset-3 spacer">
      <div class="panel panel-primary">
          <div class="panel-heading myCenter"> <h4>Authentification</h4> </div>
          <div class="panel-body">
            <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
              <div class="form-group">
                <label class="control-label"></label>
                <label class="control-label"></label>
                <input (input)="setMode()" class="form-control" name="username" type="text" placeholder="Username" ngModel required>
              </div>
              <div class="form-group">
                  <label class="control-label"></label>
                <input (input)="setMode()"  class="form-control" name="password" type="password" placeholder="Password" ngModel required>
                <label class="control-label"></label>
                <label class="control-label"></label>
              </div>
              <button [disabled]="!f.valid" class="btn btn-danger" type="submit">Login</button>
              <button routerLink="/register" class="btn btn-success" type="submit">S'enregistrer</button>
            </form>
          </div>
        </div>
  </div>
</div>
