<nav class="navbar navbar-inverse myColor navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand active">omar.lo.ch</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a class="clikable" routerLink="/taches">Tâches</a></li>
          <li><a class="clikable" routerLink="/contacts">Contacts</a></li>
          <li><a class="clikable" routerLink="/galeries">Galeries</a></li>
          <li *ngIf="authService.isAdmin()"><a class="clikable" routerLink="/users">Utilisateurs</a></li>
          <li *ngIf="authService.isAdmin()"><a class="clikable" routerLink="/roles">Rôles</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="clikable"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a class="clikable" (click)="onLogout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        <li><a>{{authService.getUserConnected()}}
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container spacer">
  <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
          <div class="panel-heading">Détail de la tache </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label">
                ID: <span class="badge">{{tache.id}}</span>
              </label>
            </div>
            <div class="form-group">
                <label class="control-label">Nom de la tâche:
                    <span class="badge">{{tache.nom}}</span>
                </label>
            </div>
            <div class="form-group">
              <label class="control-label">Statut:</label>
              <div class="form-control">
                  <label class="control-label">
                    <input [disabled]=true type="radio" name="statut"
                      [checked]="tache.statut"> Ouvert
                    </label>
                    <label class="control-label">
                      <input [disabled]=true type="radio" name="statut"
                          [checked]="!tache.statut"> Fermé
                    </label>
              </div>

            </div>
            <div class="form-group">
                <label class="control-label">Description:
                    <span class="badge">{{tache.nom}}</span>
                </label>
            </div>
            <textarea disabled = true class="form-control" name="description" [(ngModel)]="tache.description"
                      cols="30" rows="5"></textarea> <!-- [defaultValue]="tache.description" égale [(ngModel)] ="tache.description" -->
            <div class="form-group">
              <label class="control-label"> Date de création:
                <span class="badge">{{tache.dateCreation | date : "dd-MM-yyyy"}}</span>
              </label>
            </div>
            <div class="form-group">
                <label class="control-label"> Date d'expiration:
                  <span class="badge"> {{tache.dateExpiration | date : "dd-MM-yyyy"}}</span>
                </label>
              </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="onGoBack()">Retour</button>
            </div>
          </div>
        </div>
  </div>
</div>
